<div class="footer-main">
    <div class="fotter-section">
        <img class="logo" [src]="logo">
    </div>
    <div class="fotter-section">
        <ul>
            <li>pufi rain</li>
            <li>pufi puff</li>
            <li>pufi cart</li>
            <li>pufi nap</li>
        </ul>
    </div>
    <div class="fotter-section sec-3">
        <ul>
            <li>contacto</li>
            <li>ayuda</li>
            <li>cómo comprar</li>
            <li>términos y condiciones</li>
        </ul>
    </div>
    <div class="fotter-section sec-4">
        <span>compra 100% segura</span>
        <div>
            <img [src]= "waranty"/>
            <img [src]= "stamp"/>
            <div><span>comprá con la garantía de puf</span></div>
        </div>
    </div>
    <div class="fotter-section sec-5">
        <b>seguinos en </b>
        <img [src]="fb"/>
        <img [src]="tw"/>
        <img [src]="ig"/>
    </div>
</div>
<footer>
    <div>
        <span>Ana Rafaela Gûere</span>
    </div>
    <div>
        <img [src] = "brandlive">
    </div>
</footer>